ul,
li,
ol {
  list-style: none;
}

.custom-header {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
.custom-header__form {
  position: relative;
  display: flex;
  align-items: center;
}
.custom-header__form .search-btn {
  position: absolute;
  right: 10px;
  bottom: 50%;
  width: 30px;
  height: 30px;
  transform: translateY(50%);
  border-radius: 100%;
  color: #f7f7f7;
  background-color: #84b7f2;
  border: none;
}
.custom-header__input {
  flex: 1 1 auto;
  max-width: 600px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: #f7f7f7;
  padding: 0;
}
.custom-header__payback {
  background-color: white;
  border: 3px solid #eef5fb;
  border-radius: 10px;
  transition: linear 0.2s;
  cursor: pointer;
}
.custom-header__payback:hover {
  background-color: #eef5fb;
}

.custom-header__input {
  width: 600px;
}

.payback {
  position: relative;
  padding: 4px 10px 4px 35px;
  margin-right: 30px;
}
.payback img {
  position: absolute;
  z-index: 3;
  width: 45px;
  height: 45px;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}
.payback h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
}
.payback h4 {
  font-weight: 800;
  font-size: 15px;
  margin: 0;
  line-height: 15px;
  color: #1579ea;
}

.pay-block {
  display: flex;
  align-items: center;
}

.navbar {
  font-size: 18px;
  color: #2d4d7c;
  padding: 0;
}
.navbar__list {
  display: flex;
  align-items: center;
  padding: 0;
}
.navbar__list li {
  transition: linear;
  cursor: pointer;
  margin-right: 22px;
}
.navbar__list li:last-child {
  margin: 0;
}
.navbar__list li:hover {
  color: #1579ea;
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #1b3d79;
  padding: 10px 20px 10px 0;
  color: #fff;
}
.social h4 {
  margin-right: 10px;
}
.social i {
  background-color: #fff;
  color: #1b3d79;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.made {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 5px 0;
}
.made h5 {
  color: 979cb6;
}

.pay {
  display: flex;
  padding: 5px 0 0 0;
  margin-top: 5px;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #ececec;
}
.pay__title {
  font-size: 18px;
  color: #1b3d79;
  font-weight: 400;
}
.pay__icon {
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
.pay img {
  margin: 0 13px;
}
.pay__visa {
  max-width: 50px;
}
.pay__mc {
  max-width: 37px;
}
.pay__express {
  max-width: 26px;
}
.pay__pp {
  max-width: 57px;
}

.footer-wrppaer {
  padding: 40px 0 0 0;
}
.footer-wrppaer .container {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
}

.footer-column {
  margin-right: 50px;
}
.footer-column:last-child {
  margin: 0;
}
.footer-column li a {
  color: #575757;
}
.footer-column li h4 {
  font-size: 18px;
  color: #1b3d79;
}
.footer-column ul {
  padding: 0;
}

.footer-customer-care__call-us {
  display: flex;
  align-items: center;
  border: 3px solid #d3e3f5;
  max-width: 330px;
  border-radius: 10px;
}
.footer-customer-care__call-us .logo {
  background-color: #d3e3f5;
}
.footer-customer-care__call-us .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
}
.footer-customer-care__call-us .contact h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-customer-care__call-us .contact div {
  color: #a19e9d;
}
.footer-customer-care__call-us .contact .cell {
  font-size: 18px;
  font-weight: 700;
  color: #0970e6;
}
.footer-customer-care__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0 0;
}
.footer-customer-care__item {
  text-align: center;
  border: 2px solid red;
  flex-grow: 1;
  padding: 5px 10px;
  margin-right: 10px;
  border: 3px solid #d3e3f5;
  border-radius: 10px;
}
.footer-customer-care__item:last-child {
  margin: 0;
}
.footer-customer-care__item div {
  text-transform: uppercase;
}
.footer-customer-care__item h6 {
  text-transform: uppercase;
  font-weight: 700;
}
.footer-customer-care__item img {
  height: 54px;
}

.products {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.products__item {
  text-align: center;
  max-width: 250px;
  border-radius: 20px;
  margin: 10px;
  border: 3px solid #daf6ff;
  padding: 20px 20px 50px 20px;
  overflow: hidden;
  position: relative;
}
.products__img-wrapper {
  overflow: hidden;
  width: 200px;
  height: 140px;
}
.products__img-wrapper img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products__info {
  color: #14386b;
}
.products__info h5 {
  margin: 10px 0;
  font-weight: bold;
}
.products__info a {
  position: absolute;
  bottom: 15px;
  right: 25px;
  border-radius: 20px;
  font-weight: 700;
  padding: 7px 20px;
}

.swiper {
  height: 160px;
  padding: 2rem;
  cursor: -webkit-grab;
  cursor: grab;
  overflow: hidden;
}

.swiper-slide {
  width: 100px;
  height: 100px;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex-direction: column;
}

.swiper-slide .swiper-slide-card {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 16px #00000016;
}

.swiper-slide .swiper-slide-card-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  cursor: -webkit-grab;
  cursor: grab;
  overflow: hidden;
  color: currentColor;
  text-decoration: none;
  flex-direction: column;
}

.swiper-slide-card-wrap-image {
  margin: 0;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide-card-wrap-image img {
  max-width: 40px;
  max-height: 37px;
  margin-top: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-slide-card-wrap-text {
  height: 100%;
  padding: 8px;
  display: flex;
  max-height: 50%;
  font-size: 14px;
  color: #617185;
  font-weight: 600;
  text-align: center;
  align-items: center;
  line-height: 1.125rem;
  justify-content: center;
  text-transform: capitalize;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  top: 50%;
  right: 0;
  width: 2rem;
  height: 2rem;
  z-index: 100;
  display: flex;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  align-items: center;
  border-radius: 999999px;
  justify-content: center;
  transform: translateY(-50%);
  background-color: #0970e6;
}

.swiper-button-disabled {
  background-color: #d2d2d2;
}

.swiper-button-prev-custom {
  left: 0;
}

.home_page_banner {
  overflow: hidden;
}
.home_page_banner a img {
  width: 100%;
  display: block;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-top: 30px;
}

.carusel {
  padding: 2rem 6rem;
}
.carusel li {
  padding: 0px;
}
.carusel li .img_container {
  overflow: hidden;
  border-radius: 1rem;
  height: 100%;
}
.carusel li .img_container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carusel img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.min-w-50 {
  min-width: 50%;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.img-container {
  width: 360px;
  height: 360px;
  display: flex;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.5rem;
  flex-direction: column;
  border: 2px solid #0970e6;
}

.img-container img {
  top: 50%;
  left: 50%;
  height: 100%;
  padding: 2rem;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  transform: translate(-50%, -50%);
}

.text-20 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.text-16 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-14 {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.fw-bold {
  font-weight: 700;
}

.fw-bolder {
  font-weight: 500;
}

.btn-icon {
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  background-color: transparent;
}
.btn-icon:hover svg {
  color: #0970e6;
}

.btn-shop {
  border: none;
  outline: none;
  display: flex;
  flex-shrink: 0;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 999999px;
  justify-content: center;
  transition: all 0.1s ease;
  background-color: #0970e6;
}
.btn-shop > span svg {
  width: 20px;
  height: 20px;
}
.btn-shop:hover {
  background-color: #004f9f;
}

.text-green {
  color: #198754;
}

.text-red {
  color: #dc3545;
}

.bg-lightgray {
  background-color: #f7f7f7;
}