.social{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #1b3d79;
	padding: 10px 20px 10px 0;
	color: #fff;
	h4{
		
		margin-right: 10px;
	}
	i{
		background-color: #fff;
		color: #1b3d79;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 5px;
		width: 30px;
		height: 30px;
		border-radius: 4px;
	}
}
.made{
	display: flex;
	justify-content: center;
	background-color: #f7f7f7;
	padding: 5px 0;
	h5{
		color: 979cb6;
	}
}

.pay {
	display: flex;
	padding: 5px 0 0 0;
	margin-top: 5px;
	flex-direction: column;
	align-items: center;
	border-top: 2px solid #ececec ;
	
	&__title {
		font-size: 18px;
		color: #1b3d79;
		font-weight: 400;
	}
	&__icon {
		padding: 10px 0;
		width: 100%;
		text-align: center;
	}
	img{
		margin:0 13px;
	}

		&__visa {
			max-width: 50px;
		}

		&__mc {
			max-width: 37px;
		}

		&__express {
			max-width: 26px;
		}

		&__pp {
			max-width: 57px;
		}
}

.footer-wrppaer {
	padding: 40px 0 0 0;

	.container{
		display: flex;
		justify-content: space-between;

	}
}
.footer-links {
	display: flex;


}
.footer-column {
	margin-right: 50px;
	&:last-child{
		margin: 0;
	}
	li a{
		color: #575757;
	}
	li h4{
		font-size: 18px;
		color: #1b3d79;
	}
	ul{
		padding: 0;
	}
}


.footer-customer-care {
	&__call-us {
		display: flex;
		align-items: center;
		border: 3px solid #d3e3f5;
		max-width: 330px;
		border-radius: 10px;

		.logo{
			background-color: #d3e3f5;;
		}
		.contact{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0 25px;
			h5{
				font-size: 20px;
				line-height: 24px;
				font-weight: 700;
				text-transform: uppercase;
			}
			div{
				color: #a19e9d;
			}
			.cell{
				font-size: 18px;
				font-weight: 700;
				color: #0970e6;
			}
		}
	}
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px 0 0 0;
	}
	&__item {
		text-align: center;
		border: 2px solid red;
		flex-grow: 1;
		padding: 5px 10px;
		margin-right: 10px;
		border: 3px solid #d3e3f5;
		border-radius: 10px;

		&:last-child{
			margin: 0;
		}
		div{
			text-transform: uppercase;
		}
		h6{
			text-transform: uppercase;
			font-weight: 700;
		}
		img{
			height: 54px;


		}
	}
}

.services-main-title{
	color: #1b3d79;
	padding: 25px 0;
	margin: 0;
	border-top: 2px solid #d6d6d6;
}
.services-list {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	padding: 25px 0;
	background: #d3e3f5;
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: calc(100%/4);
		font-weight: 600;
		text-transform: uppercase;
		color: #1b3d79;
		img{
			width: 30px;
			margin: 0 15px 0 0;
		}
	}
}



.services-main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row: auto;
	grid-gap: 10px;
		&__app {
			background: #cedff3;
			border-radius: 20px;
			height: 265px;
			display: flex;
		}

		&__img {
			display: grid;
			justify-content: center;
			img{
				height: 265px;
			}

		}

		&__contant {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 30px;
		}

		&__text {
			color: #1b3d79;
			font-size: 25px;
			font-weight: 700;
			margin-bottom: 15px;
		}

		&__buttons {
			a{
				margin: 0 10px 0 0;
			}
		}


			&__list {
				display: grid;
				grid-template-columns:  1fr 1fr;
				grid-template-rows: auto;
				grid-gap: 20px;
			}

			&__item {
				display: flex;
				border-radius: 20px;
				align-items: center;
				border: 2px solid #cedff3;
				padding: 10px 20px;
			}


			&__logo{
				width: 42px;
				margin-right: 15px;
			}
			&__text {
				margin: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				p{
					margin: 0;
					font-size: 15px;
					font-weight: 400;
					
				}
				h6{
				font-weight: 700;
				font-size: 18px;
				margin: 0;
				}
			}
	
}
