.custom-header {
	display: flex;
	padding: 20px 0;
	align-items: center;
	justify-content: space-between;


	&__form {
		position: relative;
		display: flex;
		align-items: center;
		
		.search-btn{
			position: absolute;
			right: 10px;
			bottom: 50%;
			width: 30px;
			height: 30px;
			transform: translateY(50%);
			border-radius: 100%;
			color: #f7f7f7;
			background-color: #84b7f2;
			border: none;
	}
	}

	&__input {
		flex: 1 1 auto;
		max-width: 600px;
		height: 40px;
		border-radius: 40px;
		border: none;
		background-color: #f7f7f7;
		padding: 0;
		
	}

	&__payback {
		background-color: rgb(255, 255, 255);
		border: 3px solid #eef5fb;
		border-radius: 10px;
		transition: linear 0.2s;
		cursor: pointer;
		&:hover{
			background-color: #eef5fb ;
		}
	}

}
.custom-header__input{
width: 600px;
}
.payback{
	position: relative;
	padding: 4px 10px 4px 35px;
	margin-right: 30px;
	img{
		position: absolute;
		z-index: 3;
		width: 45px;
		height: 45px;
		top: 50%;
		left: -15px;
		transform: translateY(-50%);
	}
	h3{
		font-weight: 400;
		text-transform: uppercase;
		font-size: 10px;
		line-height: 12px;
		margin: 0;
	}
	h4{
		font-weight: 800;
		font-size: 15px;
		margin: 0;
		line-height: 15px;
		color: #1579ea;
	}

}
.pay-block{
	display: flex;
	align-items: center;
}

.navbar {
	font-size: 18px;
	color: #2d4d7c;
	padding: 0 ;
	
	&__list {
			display: flex;
			align-items: center;
			padding: 0;
			li{
				transition: linear;
				cursor: pointer;
				margin-right: 22px;
				
				&:last-child{
					margin: 0;
				}
				&:hover{
					color: #1579ea;
				}
			}
		}
}





